.chipsContainer {
    margin-top: 10px;
    margin-left: 1.5rem;
    display: flex;
    gap: 2rem;
    overflow: auto;
}

.chipall {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    position: relative;
    color: white;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.chipall img{
    height: 10rem;
    width: 10rem;
}

.glass {
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: #00000099;
}
.chipsinner{
    display: flex;
    gap: 2rem;
}
@media only screen and (max-width: 767px){
    .chipall{
        width:7rem ;
        height: 7rem;
    }
    .chipsinner{
        gap: 1rem;
    }
    .chipall img{
        width:7rem ;
        height: 7rem;
    }
    .glass{
        width:7rem ;
        height: 7rem;
    }
    .chipsContainer{
        margin-left: 5px;
    }
}