.container {
    position: relative;
    box-shadow: 0px 4px 40px 0px #D9D9D94D;
    border-radius: 15px;
    /* overflow: hidden; */
}

.maincontainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000E5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.carouselContainer {
    display: flex;
    height: 35rem;
    width: 20rem;
    overflow: hidden;
    transition: all 0.4s;
    border-radius: 15px;
}

.carousel {
    height: 35rem;
    width: 20rem;
    transition: all 0.4s;
    position: relative;
    border-radius: 15px;

}

.dataFooter {
    position: absolute;
    bottom: 4rem;
    color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.counters {
    position: absolute;
    bottom: -8px;
    right: 1.3rem;
    font-weight: bolder;
    color: white;
}

.carousel img {
    height: 35rem;
    width: 20rem;
    border-radius: 15px;
}

.btnDiv {
    display: flex;
    gap: 28rem;
    left: -9.1rem;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 46%;
}

.statusDiv {
    height: 5px;
    width: 4rem;
    border-radius: 20px;
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    gap: 5px;
    margin-top: 5px;
    margin-left: 10px;
}

.heartFooter {
    position: absolute;
    bottom: .3rem;
    width: 90%;
    right: 1rem;
    display: flex;
    justify-content: space-between;

}

.close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}
.shareLink{
    position: absolute;
    top: 0.8rem;
    right: 5px;
}

@media only screen and (max-width: 767px) {
    .carouselContainer {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .carousel img {
        border-radius: 0;
        height: 100%;
        width: 100vw;
    }

    .container {
        overflow: hidden;
        border-radius: 0;
    }

    .carousel {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    .btnDiv{
        display: none;
    }
}